# Data Scpraping Using Pymongo

*Importing and Instantiating MongoDB Client*

In [1]:
from pymongo import MongoClient

try:
    client = MongoClient('mongodb://localhost:27017/')
    client.admin.command("ping")
    print("Connected successfully!!")
    
except Exception as e:
    raise Exception("The following error occurred: ", e)

Connected successfully!!

*Checking And Instantiating Database Instance*

In [2]:
db_lis = client.list_database_names()

In [3]:
db = client[db_lis[5]]

*Checking And Instantiating Collection Instance*

In [4]:
col_lis = db.list_collection_names()

In [5]:
col = db[col_lis[0]]

## Inserting Documents

*Defining A Function For Dictionary Building And Inserting Documnent In MongoDB*

In [52]:
def type_Cast(d_t,v):
    data_types = {"int": int,"float": float,"str": str,"bool": bool,"list": list,"tuple": tuple,"dict": dict,"set": set}
    if d_t in data_types.keys():
        return data_types[d_t](v)
def Insert_docs():
    ''' A Function Which Let's You Choose the Desired attributes & it's Type before inserting It Into collection of Docments''' 
    feat_doc , ins_doc = {},{}
    n_attr = int(input("Enter The Number Of Attributes For Collection: "))
    for i in range(n_attr):
        feat_doc[input("Name Of the Attribute: ")] = input('Enter The Data Type for This Attribute: ')
    r = int(input("Enter The Number of Document U Wanna Insert: "))
    for i in range(r):
     for k,v in feat_doc.items():
        ins_doc[k] = type_Cast(v,(input(f"Enter The Value For {k} Attribute:")))
        col.insert_one(ins_doc)  
        del feat_doc[k]    #Use Generator
    del ins_doc
Insert_docs()

RuntimeError: dictionary changed size during iteration

*Fetching & Converting The Dictionary of Documents To Pandas DataFrame*

In [53]:
import pandas as pd
fectched_docs = col.find()
df = pd.DataFrame(list(fectched_docs))
del fectched_docs
df

                         _id   Name      Amount
0   663f44c975bffc136080997f      A  1000000000
1   663f454475bffc1360809980      B    10000000
2   663f45e075bffc1360809982      C      100700
3   663f46c675bffc1360809985      D      100000
4   665054c1145987aa929dcc3c    Sam       12000
5   6650606a145987aa929dcc3d   Hein      120000
6   665060c5145987aa929dcc3e   Hein         int
7   66506120145987aa929dcc3f   Hein       12000
8   665063a7145987aa929dcc40   Jhon         int
9   6650648c145987aa929dcc41  jonga         NaN
10  6650657a145987aa929dcc42  peter         NaN