# Data Scpraping Using Pymongo

*Importing and Instantiating MongoDB Client*

In [1]:
from pymongo import MongoClient

try:
    client = MongoClient('mongodb://localhost:27017/')
    client.admin.command("ping")
    print("Connected successfully!!")
    
except Exception as e:
    raise Exception("The following error occurred: ", e)

Connected successfully!!

*Checking And Instantiating Database Instance*

In [2]:
db_lis = client.list_database_names()

In [3]:
db = client[db_lis[5]]

*Checking And Instantiating Collection Instance*

In [4]:
col_lis = db.list_collection_names()

In [5]:
col = db[col_lis[0]]

## Inserting Documents

*Defining A Function For Dictionary Building And Inserting Documnent In MongoDB*

In [6]:
from select import error


def type_Cast(d_t, v):
    data_types = {
        "int": int,
        "float": float,
        "str": str,
        "bool": bool
    }
    try:
        return data_types[d_t](v)
    except (ValueError, TypeError):
        print(f"Error casting value: {v} to type: {d_t}")
        return None

def dict_generator(feat_doc):
    for k, v in feat_doc.items():
        yield k, v

def Insert_docs(r = int(input("Enter The Number of Documents You Want to Insert: "))):
    ''' A Function Which Lets You Choose the Desired attributes & their Types before inserting Them Into a collection of Documents''' 
    if r != 0:
        feat_doc, ins_doc = {}, {}
        n_attr = int(input("Enter The Number Of Attributes For Collection: "))
        
        for i in range(n_attr):
            attr_name = input("Name Of the Attribute: ")
            data_type = input('Enter The Data Type for This Attribute: ')
            feat_doc[attr_name] = data_type
            
        for i in range(r):
            ins_doc.clear()  # Clear the dictionary for each document
            for k, v in dict_generator(feat_doc):
                value = input(f"Enter The Value For {k} Attribute: ")
                casted_value = type_Cast(v, value)
                if casted_value is not None:
                    ins_doc[k] = casted_value
            # Ensure col is defined before using it
            try:
                col.insert_one(ins_doc)
            except error:
                print(f"{error} Occured")
                return
    else:        
     print(f'{r} Documents Inserted')
Insert_docs()

0 Documents Inserted

*Fetching & Converting The Dictionary of Documents To Pandas DataFrame*

In [7]:
import pandas as pd
fectched_docs = col.find()
df = pd.DataFrame(list(fectched_docs))
del fectched_docs
df.drop(columns=["_id"],axis=1)

  Name      Amount
0    A  1000000000
1    B    10000000
2    C      100700
3    D      100000
4    E      124532
5    F      123532
6    G     2323212