# Data Scpraping Using Pymongo

*Importing and Instan Mongo Client *

In [12]:
from pymongo import MongoClient

try:
    client = MongoClient('mongodb://localhost:27017/')
    client.admin.command("ping")
    print("Connected successfully!!")
    
except Exception as e:
    raise Exception("The following error occurred: ", e)

Connected successfully!!

In [14]:
client.list_database_names()

['Students', 'admin', 'config', 'flask_database', 'local', 'testDB']

In [3]:
db = client['testDB']

In [13]:
db.list_collection_names()

['pandas']

In [5]:
col = db['pandas']

In [10]:
def Insert_queries(ins_doc = None):
    
    ''' Make A Dictionary With Desired Key and Input method Like default Doc in This Function defination
        then Pass through the function Call ''' 
    
    r = int(input("Enter The Number of Document U Wanna Insert: "))
    for i in range(r):
        ins_doc = {
                'Name':input('Enter The Name: '),
                'Amount': (int(input('Enter The Amount Person Have: '))),
              }
        col.insert_one(ins_doc)
    del ins_doc    
Insert_queries()

Enter The Number of Document U Wanna Insert: 0

In [15]:
dc_to_df = {}
fectched_docs = col.find()
for i,doc in enumerate(fectched_docs):
    dc_to_df[i] = doc   
dc_to_df

{0: {'_id': ObjectId('663f44c975bffc136080997f'),
  'Name': 'A',
  'Amount': 1000000000},
 1: {'_id': ObjectId('663f454475bffc1360809980'),
  'Name': 'B',
  'Amount': 10000000},
 2: {'_id': ObjectId('663f45e075bffc1360809982'),
  'Name': 'C',
  'Amount': 100700},
 3: {'_id': ObjectId('663f46c675bffc1360809985'),
  'Name': 'D',
  'Amount': 100000}}

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(dc_to_df).T
del dc_to_df
df

                        _id Name      Amount
0  663f44c975bffc136080997f    A  1000000000
1  663f454475bffc1360809980    B    10000000
2  663f45e075bffc1360809982    C      100700
3  663f46c675bffc1360809985    D      100000